/* @font-face {
  font-family: 'Klavika-Bold';
  src: url(font-family/Klavika-Bold.otf);
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'Klavika-Medium';
  src: url(font-family/Klavika-Medium.otf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Klavika-Regular';
  src: url(font-family/Klavika-Regular.otf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Klavika-Regular-Italic';
  src: url(font-family/Klavika-RegularItalic.otf);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
} */
